body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy Light"),
    local("Gilroy-Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy ExtraBold"),
    local("Gilroy-ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans"),
    local("OpenSans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans Light"),
    local("OpenSans-Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  width: 1200px;
}




.button-yellow {
  display: block;
  width: 220px;
  margin: 0;
  padding: 8px 0 8px 0;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.5px;

  background: linear-gradient(transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
  border: none;
}

.button-yellow:hover,
.button-yellow:focus {
  background: linear-gradient(transparent 0px, #f0c52e 0px, #f0c52e 40px, transparent 40px);
}

.button-yellow:active {
  color: rgba(0, 0, 0, 0.3);
  background: linear-gradient(transparent 0px, #f0c52e 0px, #f0c52e 40px, transparent 40px);
}




.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 40px;
}

.breadcrumbs li:not(:last-child):after {
  content: "";

  position: absolute;
  top: 13px;
  right: -20px;

  width: 4px;
  height: 7px;

  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.14px;
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a[href]:active {
  color: rgba(0, 0, 0, 0.1);
}




.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 360px;
  margin-bottom: 46px;
}

.catalog-item:nth-child(2n+1) {
  margin-right: 40px;
}

.catalog-item img {
  margin-bottom: 32px;
}

.item-title {
  margin: 0;
  width: 225px;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.18px;
}

.item-price {
  margin: 0;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.16px;
}

.item-actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;

  padding: 170px 0 120px 0;
}

.item-buy {
  width: 200px;
  margin-bottom: 15px:
}

.item-bookmark {
  width: 200px;
  margin: 0 auto;
  padding: 0;

  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.13px;

  background: transparent;
  border: none;
}

.item-bookmark:hover,
.item-bookmark:focus {
  color: rgba(0, 0, 0, 1);
}

.item-bookmark:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item:hover .item-actions,
.catalog-item:focus .item-actions {
  z-index: 1;

  opacity: 1;
}

.catalog-item:hover img,
.catalog-item:focus img {
  opacity: 0.7;
}

.flag {
  position: absolute;
  top: 27px;
  right: 25px;

  width: 64px;
  height: 64px;
  padding: 20px 0 24px 0;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 0.25px;

  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}




.pagination-list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-around;
  width: 760px;

  background: rgba(0, 0, 0, 0.08);
  list-style: none;
}

.pagination-item {
  display: block;
  padding: 23px 0 23px 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.pagination-item[href]:hover,
.pagination-item[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item[href]:active{
  color: rgba(0, 0, 0, 1);
}

.pagination-item-current {
  color: rgba(0, 0, 0, 1);
}

.pagination-item-previous,
.pagination-item-next {
  width: 126px;

  color: rgba(0, 0, 0, 1);
}

.pagination-item-previous:hover,
.pagination-item-previous:focus,
.pagination-item-next:hover,
.pagination-item-next:focus {
  width: 126px;

  background: rgba(0, 0, 0, 0.08);
}

.pagination-item-previous:active,
.pagination-item-next:active {
  color: rgba(0, 0, 0, 0.3);

  background: rgba(0, 0, 0, 0.08);
}

.pagination-list li:first-child {
  margin-right: auto;
  margin-left: 0;
}

.pagination-list li:last-child {
  margin-left: 0;
  margin-left: auto;
}



/* Хедер */
.main-header {
  position: relative;

  padding: 21px 56px 40px 59px;
  background: linear-gradient(transparent 40px, #F8E297 40px);
}

.logo {
  display: block;
  width: 164px;
  margin-bottom: 10px;
  margin-left: 1px;
}

.logo[href]:hover,
.logo[href]:focus {
  opacity: 0.6;
}

.logo[href]:active {
  opacity: 0.3;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.search-box {
  margin-right: auto;

  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 4px 16px;
}

.search-input {
  width: 356px;
  padding: 8px 0 7px 0;
  padding-left: 39px;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.15px;

  background: transparent;
  border: none;
  vertical-align: bottom;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:focus {
  box-shadow: 0 2px 0 0 #000000;
}

.search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus::placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-button {
  z-index: -1;

  width: 81px;
  margin-left: -2px;
  padding: 7px 0 8px 0;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.15px;

  background: transparent;
  border: none;
  box-shadow: 0 0 0 2px #000000;
  vertical-align: bottom;
  opacity: 0;
}

.search-input:focus + .search-button {
  z-index: 1;

  opacity: 10;
}

.search-button:hover,
.search-button:focus {
  z-index: 1;

  color: #ffffff;

  background: #000000;
  opacity: 10;
}

.search-button:active {
  z-index: 1;

  color: rgba(255, 255, 255, 0.3);

  opacity: 10;
}

.user-actions {
  display: flex;
  width: 280px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-top a {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.15px;
}

.link-login,
.link-profile {
  padding-left: 30px;

  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position: 4px 4px;
}

.link-profile {
  margin-right: 20px;
}

.user-actions .link-logout {
  color: rgba(0, 0, 0, 0.3);
}

.link-compare {
  width: 100px;
  margin-right: 34px;

  text-align: right;

  background-image: url(../img/icon-compare.svg);
  background-repeat: no-repeat;
  background-position: 11px 11px;
}

.link-basket {
  width: 90px;
  margin-right: 4px;

  text-align: right;
  background-image: url(../img/icon-basket.svg);
  background-repeat: no-repeat;
  background-position: 7px 9px;
}

.link-login:hover,
.link-login:focus,
.link-compare:hover,
.link-compare:focus,
.link-basket:hover,
.link-basket:focus,
.link-profile:hover,
.link-profile:focus {
  opacity: 0.6;
}

.link-login:active,
.link-compare:active,
.link-basket:active,
.link-profile:active {
  opacity: 0.3;
}

.link-logout:hover,
.link-logout:focus {
  color: rgba(0, 0, 0, 1);
}

.header-center {
  display: flex;
  justify-content: space-between;
}

.button-disclosure,
.header-link {
  padding: 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background: transparent;
  border: none;
}

.button-disclosure {
  margin-right: auto;
  padding: 0 28px 10px 0;

  background-image: url(../img/icon-plus.svg);
  background-repeat: no-repeat;
  background-position: right 4px;
}

.link-delivery {
  margin-right: 34px;
}

.link-warranty {
  margin-right: 109px;
}

.button-disclosure:hover,
.button-disclosure:focus,
.header-link:hover,
.header-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.button-disclosure:active,
.header-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-disclosure:hover + .catalog-menu,
.button-disclosure:focus + .catalog-menu {
  z-index: 10;

  opacity: 1;
}

.catalog-menu {
  position: absolute;
  top: 186px;
  left: 0;
  z-index: -1;

  width: 1160px;
  height: 153px;

  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 11px 40px 10px 60px;

  background-color: #F8E297;
  list-style: none;
  opacity: 0;
}

.catalog-menu:hover,
.catalog-menu:focus {
  z-index: 10;

  opacity: 1;
}

.catalog-menu a {
  display: block;
  margin-right: 59px;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.15px;
}

.catalog-menu a:hover,
.catalog-menu a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-center:focus-within .catalog-menu {
  z-index: 10;

  opacity: 1;
}

/* Очень странный отступ ОТ СЮДА */
.catalog-menu li:nth-child(5) a {
  margin-bottom: 25px;
}

.catalog-menu li:nth-child(4) a {
  margin-right: 75px;
}
/* ДО СЮДА */




/* Первый слайдер */
.promo-sliders {
  position: relative;

  margin-bottom: 44px;

  background: linear-gradient(#F8E297 113px, transparent 113px);
}

.promo-sliders::before {
  content: "";

  position: absolute;
  top: 39px;
  right: 460px;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.promo-slider-buttons {
  position: absolute;
  bottom: 209px;
  right: 83px;
  z-index: 5;

  display: flex;
  justify-content: space-between;
  width: 78px
}

.promo-slider-buttons label {
  font-size: 0;

  width: 12px;
  height: 12px;

  background-image: url(../img/slider-button-empty.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  cursor: pointer;
}

.promo-slider {
  display: none;
  justify-content: flex-end;
  min-height: 550px;
  padding: 2px 0px 10px 0px;
}

.promo-slider::before {
  position: absolute;
  top: -11px;
  right: 48px;
  z-index: 1;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 0.36px;
}

.promo-slider:nth-child(1)::before {
  content: "01";
}

.promo-slider:nth-child(2)::before {
  content: "02";
}

.promo-slider:nth-child(3)::before {
  content: "03";
}

.img-box {
  width: 600px;
  padding-right: 36px;

  text-align: center;
}

.promo-description {
  position: relative;
  z-index: 2;

  width: 560px;
  padding: 79px 50px 10px 0;
}

.promo-slogan {
  margin: 0;
  margin-bottom: 19px;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.47px;
}

.promo-text {
  margin: 0;
  margin-bottom: 43px;

  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.15px;
}

.promo-button {
  margin-bottom: 50px;
  margin-left: 1px;
  padding-left: 4px;
}

.tech-specs {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.tech-specs li {
  margin-right: 77px;
}

.tech-specs p {
  margin: 0;
}

.tech-specs p:first-child {
  margin-bottom: 7px;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.36px;
}

.tech-specs p:last-child {
  margin-left: 1px;

  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.13px;
}

#promo-slider-1:checked ~ .promo-slider-buttons .promo-slider-button-1,
#promo-slider-2:checked ~ .promo-slider-buttons .promo-slider-button-2,
#promo-slider-3:checked ~ .promo-slider-buttons .promo-slider-button-3 {
  background-image: url(../img/slider-button.svg);
  cursor: pointer;
}

#promo-slider-1:checked ~ .promo-slider-list .promo-slider:nth-child(1),
#promo-slider-2:checked ~ .promo-slider-list .promo-slider:nth-child(2),
#promo-slider-3:checked ~ .promo-slider-list .promo-slider:nth-child(3) {
  display: flex;
}




/* Навигация в BODY */
.nav-categories {
  display: flex;
  margin: 0;
  margin-bottom: 82px;
  padding: 0;

  list-style: none;
}

.category-item {
  margin-right: 40px;
}

.category-item:nth-child(6) {
  margin-right: 0;
}

.category-img {
  position: relative;

  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: rgba(240, 197, 46, 0.5);
}

.category-img::before {
  content: "";

  position: absolute;

  width: 160px;
  height: 160px;

  background-repeat: no-repeat;
}

.category-item:nth-child(1) .category-img::before {
  background-image: url("../img/popular-1.svg");
  background-position: center center;
}

.category-item:nth-child(2) .category-img::before {
  background-image: url("../img/popular-2.svg");
  background-position: center bottom;
}

.category-item:nth-child(3) .category-img::before {
  background-image: url("../img/popular-3.svg");
  background-position: center center;
}

.category-item:nth-child(4) .category-img::before {
  background-image: url("../img/popular-4.svg");
  background-position: center center;
}

.category-item:nth-child(5) .category-img::before {
  background-image: url("../img/popular-5.svg");
  background-position: center center;
}

.category-item:nth-child(6) .category-img::before {
  background-image: url("../img/popular-6.svg");
  background-position: center center;
}

.category-title {
  margin: 0;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.18px;
}

.category-item:hover .category-img,
.category-item:focus .category-img,
.category-item:active .category-img {
  background-color: rgba(240, 197, 46, 1);
}

.category-item:active .category-title {
  opacity: 0.3;
}

.category-item:active .category-img::before {
  opacity: 0.3;
}




/* Второй слайдер */
.services-sliders {
  position: relative;

  margin-bottom: 94px;
  padding-bottom: 69px;

  background:  linear-gradient(transparent 99px, #e5e5e5 99px);
}

.services-sliders-box {
  display: flex;
  justify-content: space-between;
  min-height: 318px;
}

.services-slider-buttons {
  width: 277px;
  padding: 78px 0 20px 0;

  box-shadow: 7px 0 0 0 #000000;
}

.services-slider-buttons label {
  width: 160px;
  margin-bottom: 25px;

  cursor: pointer;
}

.services-slider-list{
  width: 760px;
  padding: 72px 0 20px 0;
}

.services-slider {
  display: none;
  padding-bottom: 40px;

  background-repeat: no-repeat;
  background-position: 558px 12px;
}

.services-slider:nth-child(1) {
  background-image: url(../img/icon-delivery.svg);
}

.services-slider:nth-child(2) {
  background-image: url(../img/icon-warranty.svg);
}

.services-slider:nth-child(3) {
  background-image: url(../img/icon-credit.svg);
}

.services-title {
  margin: 0;
  margin-left: 1px;
  margin-bottom: 31px;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.9px;
}

.services-text {
  width: 450px;
  margin: 0;

  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.27px;
}

#services-slider-1:checked ~ .services-sliders-box .services-slider-button-1,
#services-slider-2:checked ~ .services-sliders-box .services-slider-button-2,
#services-slider-3:checked ~ .services-sliders-box .services-slider-button-3 {
  width: 277px;

  color: #f7e184;

  background: #000000;
  border-right: 115px solid #000000;
  cursor: auto;
}

#services-slider-1:checked ~ .services-sliders-box .services-slider:nth-child(1),
#services-slider-2:checked ~ .services-sliders-box .services-slider:nth-child(2),
#services-slider-3:checked ~ .services-sliders-box .services-slider:nth-child(3) {
  display: block;
}

#services-slider-1:focus ~ .services-sliders-box .services-slider-button-1,
#services-slider-2:focus ~ .services-sliders-box .services-slider-button-2,
#services-slider-3:focus ~ .services-sliders-box .services-slider-button-3 {
  outline: 2px solid #5287ee;
}




/* Производители */
.popular-producer {
  display: flex;
  margin: 0;
  margin-bottom: 84px;
  padding: 0;

  list-style: none;
}

.popular-producer li {
  width: 260px;
  margin-right: 40px;
}

.popular-producer li:nth-child(4n) {
  margin-right: 0;
}

.popular-producer img {
  filter: grayscale(1);
  opacity: 0.2;
}

.popular-producer img:hover,
.popular-producer img:focus {
  filter: grayscale(0);
  opacity: 1;
}




/* О компании */
.about-company {
  display: flex;
  justify-content: space-between;
  padding-top: 52px;
  padding-bottom: 82px;
}

.company-box {
  position: relative;

  width: 475px;
}

.map-box {
  position: relative;

  width: 562px;
}

.company-box:before,
.map-box:before {
  content: "";

  position: absolute;
  top: -52px;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.map-box:before {
  left: 2px;
}

.about-company-title {
  margin: 0;
  margin-bottom: 43px;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 46px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 1px;
}

.about-company-text {
  margin: 0;
  margin-bottom: 39px;

  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.company-box .about-company-text:nth-of-type(1) {
  margin-bottom: 30px;
}

.company-box .about-company-text:nth-of-type(2) {
  margin-bottom: 66px;
}

.about-company-list {
  margin: 0;
  padding: 0 0 54px 28px;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;

  list-style: none;
}

.about-company-list li::before {
  content: "";

  position: relative;
  top: -1px;
  left: -27px;

  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.company-box .button-yellow {
  width: 260px;
}

.map-box .button-yellow {
  width: 260px;
  margin-left: 2px;
}

.map-small {
  display: block;
  margin-left: 2px;
  padding-bottom: 60px;
}







/* Футер */
.main-footer{
  padding: 63px 0 67px 0;

  background-color: #464646;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}

.footer-logo {
  margin-top: 2px;
  margin-right: auto;
}

.footer-logo[href]:hover,
.footer-logo[href]:focus {
  opacity: 0.6;
}

.footer-logo[href]:active {
  opacity: 0.3;
}

.footer-user-actions {
  display: flex;
  justify-content: flex-end;
  width: 280px;
  margin: 0;
  margin-right: 44px;
  padding: 0;

  list-style: none;
}

.footer-link-login,
.footer-link-profile,
.footer-link-logout,
.footer-link-compare,
.footer-link-basket {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.15px;
}

.footer-link-logout {
  color: rgba(255, 255, 255, 1);
}

.footer-link-profile {
  margin-right: 19px;
}

.footer-link-compare {
  margin-right: 41px;
}

.footer-top p {
  display: inline-block;
  margin: 0;
}

.footer-link-login p {
  margin-left: 9px;
}

.footer-link-profile p {
  margin-left: 9px;
}

.footer-link-compare p {
  margin-left: 5px;
}

.footer-link-basket p {
  margin-left: 6px;
}

.footer-link-login:hover,
.footer-link-login:focus,
.footer-link-profile:hover,
.footer-link-profile:focus,
.footer-link-compare:hover,
.footer-link-compare:focus,
.footer-link-basket:hover,
.footer-link-basket:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-link-login:hover path,
.footer-link-login:focus path,
.footer-link-profile:hover path,
.footer-link-profile:focus path,
.footer-link-compare:hover path,
.footer-link-compare:focus path,
.footer-link-basket:hover path,
.footer-link-basket:focus path {
  opacity: 0.6;
}

.footer-link-login:active path,
.footer-link-profile:active path,
.footer-link-compare:active path,
.footer-link-basket:active path {
  opacity: 0.3;
}

.footer-link-login:active,
.footer-link-profile:active,
.footer-link-compare:active,
.footer-link-basket:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-link-logout:hover,
.footer-link-logout:focus {
  color: rgba(255, 255, 255, 0.7);
}

.footer-link-logout:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-center {
  display: flex;
  align-items: flex-end;
  margin-bottom: 62px;
}

.footer-adress {
  margin: 0;
  margin-right: 164px;
}

.footer-adress,
.footer-tel {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}

.footer-link-delivery,
.footer-link-warranty,
.footer-link-contacts {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-link-delivery {
  margin-right: 34px;
}

.footer-link-warranty {
  margin-right: 32px;
}

.footer-link-contacts {
  margin-right: auto;
}

.footer-link-delivery:hover,
.footer-link-delivery:focus,
.footer-link-warranty:hover,
.footer-link-warranty:focus,
.footer-link-contacts:hover,
.footer-link-contacts:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-delivery:active,
.footer-link-warranty:active,
.footer-link-contacts:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-bottom {
  position: relative;

  display: flex;
}

.footer-bottom::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 0px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-social {
  display: flex;
  list-style: none;
  margin: 2px 0 0 509px;
  padding: 0;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;

  font-size: 0;

  background-repeat: no-repeat;
  opacity: 0.3;
}

.facebook-button {
  margin-right: 23px;
  background-image: url(../img/icon-fb.svg);
}

.instagram-button {
  margin-right: 22px;
  background-image: url(../img/icon-instagram.svg);
}

.twitter-button {
  background-image: url(../img/icon-twitter.svg);
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.link-html-academy {
  display: block;
  width: 27px;
  height: 34px;
  margin-left: auto;

  font-size: 0;

  background-image: url(../img/logo-html.svg);
  background-repeat: no-repeat;
}

.link-html-academy:hover,
.link-html-academy:focus {
  opacity: 0.6;
}

.link-html-academy:active {
  opacity: 0.3;
}







