body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy Light"),
    local("Gilroy-Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy ExtraBold"),
    local("Gilroy-ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans"),
    local("OpenSans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans Light"),
    local("OpenSans-Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -2000px);
            transform: translate(-50%, -2000px);
  }

  70% {
    -webkit-transform: translate(-50%, -10%);
            transform: translate(-50%, -10%);
  }

  90% {
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -2000px);
            transform: translate(-50%, -2000px);
  }

  70% {
    -webkit-transform: translate(-50%, -10%);
            transform: translate(-50%, -10%);
  }

  90% {
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-52%, -50%);
            transform: translate(-52%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-48%, -50%);
            transform: translate(-48%, -50%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-52%, -50%);
            transform: translate(-52%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-48%, -50%);
            transform: translate(-48%, -50%);
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  width: 1200px;
}

.button-yellow {
  display: block;
  width: 220px;
  margin: 0;
  padding: 8px 0 8px 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.5px;

  background: -o-linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);

  background: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  border: none;
}

.button-yellow:hover,
.button-yellow:focus {
  background: -o-linear-gradient(transparent 0%, #f0c52e 0%, #f0c52e 100%, transparent 100%);
  background: linear-gradient(transparent 0%, #f0c52e 0%, #f0c52e 100%, transparent 100%);
  cursor: pointer;
}

.button-yellow:active {
  color: rgba(0, 0, 0, 0.3);

  background: -o-linear-gradient(transparent 0%, #f0c52e 0%, #f0c52e 100%, transparent 100%);

  background: linear-gradient(transparent 0%, #f0c52e 0%, #f0c52e 100%, transparent 100%);
}

.main-header {
  position: relative;

  padding: 21px 56px 40px 59px;

  background: -o-linear-gradient(transparent 40px, #F8E297 40px);

  background: linear-gradient(transparent 40px, #F8E297 40px);
}

.logo {
  display: block;
  width: 164px;
  margin-bottom: 10px;
  margin-left: 1px;
}

.logo[href]:hover,
.logo[href]:focus {
  opacity: 0.6;
}

.logo[href]:active {
  opacity: 0.3;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.search-box {
  margin-right: auto;

  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 4px 16px;
}

.search-input {
  vertical-align: bottom;
  width: 356px;
  padding: 8px 0 7px 0;
  padding-left: 39px;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.15px;

  background: transparent;
  border: none;
}

.search-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input::-ms-clear {
  display: none;
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration {
  display: none;
}

.search-input:focus {
  -webkit-box-shadow: 0 2px 0 0 #000000;
          box-shadow: 0 2px 0 0 #000000;
}

.search-input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-input:focus::-moz-placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-input:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-input:focus::-ms-input-placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-input:focus::placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-button {
  z-index: -1;

  vertical-align: bottom;
  width: 81px;
  margin-left: -2px;
  padding: 7px 0 8px 0;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.15px;

  background: transparent;
  border: none;
  -webkit-box-shadow: 0 0 0 2px #000000;
          box-shadow: 0 0 0 2px #000000;
  opacity: 0;
}

.search-input:focus + .search-button {
  z-index: 1;

  opacity: 10;
}

.search-button:hover,
.search-button:focus {
  z-index: 1;

  color: #ffffff;

  background: #000000;
  opacity: 10;
}

.search-button:active {
  z-index: 1;

  color: rgba(255, 255, 255, 0.3);

  opacity: 10;
}

.user-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-top a {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.15px;
}

.link-login,
.link-profile {
  padding-left: 30px;

  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position: 4px 4px;
}

.link-profile {
  margin-right: 20px;
}

.user-actions .link-logout {
  color: rgba(0, 0, 0, 0.3);
}

.link-compare {
  width: 100px;
  margin-right: 34px;

  text-align: right;

  background-image: url(../img/icon-compare.svg);
  background-repeat: no-repeat;
  background-position: 11px 11px;
}

.link-basket {
  width: 90px;
  margin-right: 4px;

  text-align: right;

  background-image: url(../img/icon-basket.svg);
  background-repeat: no-repeat;
  background-position: 7px 9px;
}

.link-login:hover,
.link-login:focus,
.link-compare:hover,
.link-compare:focus,
.link-basket:hover,
.link-basket:focus,
.link-profile:hover,
.link-profile:focus {
  opacity: 0.6;
}

.link-login:active,
.link-compare:active,
.link-basket:active,
.link-profile:active {
  opacity: 0.3;
}

.link-logout:hover,
.link-logout:focus {
  color: rgba(0, 0, 0, 1);
}

.header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.button-disclosure,
.header-link {
  padding: 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background: transparent;
  border: none;
}

.button-disclosure {
  margin-right: auto;
  padding: 0 28px 10px 0;

  background-image: url(../img/icon-plus.svg);
  background-repeat: no-repeat;
  background-position: right 4px;
}

.link-delivery {
  margin-right: 34px;
}

.link-warranty {
  margin-right: 109px;
}

.button-disclosure:hover,
.button-disclosure:focus,
.header-link:hover,
.header-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.button-disclosure:active,
.header-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-disclosure:hover + .catalog-menu,
.button-disclosure:focus + .catalog-menu {
  z-index: 10;

  opacity: 1;
}

.catalog-menu {
  position: absolute;
  top: 186px;
  left: 0;
  z-index: -1;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1160px;
  height: 153px;
  margin: 0;
  padding: 11px 40px 10px 60px;

  background-color: #f8e297;
  list-style: none;
  opacity: 0;
}

.catalog-menu:hover,
.catalog-menu:focus {
  z-index: 10;

  opacity: 1;
}

.catalog-menu a {
  display: block;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.15px;
}

.catalog-menu a[href]:hover,
.catalog-menu a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-menu a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-center:focus-within .catalog-menu {
  z-index: 10;

  opacity: 1;
}

.catalog-menu li {
  margin-right: 59px;
}

.catalog-menu li:nth-child(5) {
  margin-bottom: 25px;
}

.catalog-menu li:nth-child(4) {
  margin-right: 75px;
}

.promo-sliders {
  position: relative;

  margin-bottom: 44px;

  background: -o-linear-gradient(#F8E297 113px, transparent 113px);

  background: linear-gradient(#F8E297 113px, transparent 113px);
}

.promo-sliders::before {
  content: "";

  position: absolute;
  top: 39px;
  right: 460px;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.promo-slider-buttons {
  position: absolute;
  bottom: 209px;
  right: 83px;
  z-index: 5;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 78px
}

.promo-slider-buttons label {
  width: 12px;
  height: 12px;

  font-size: 0;

  background-image: url(../img/slider-button-empty.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  cursor: pointer;
}

.promo-slider {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 550px;
  padding: 2px 0px 10px 0px;
}

.promo-slider::before {
  position: absolute;
  top: -11px;
  right: 48px;
  z-index: 1;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 0.36px;
}

.promo-slider:nth-child(1)::before {
  content: "01";
}

.promo-slider:nth-child(2)::before {
  content: "02";
}

.promo-slider:nth-child(3)::before {
  content: "03";
}

.img-box {
  width: 600px;
  padding-right: 36px;

  text-align: center;
}

.promo-description {
  position: relative;
  z-index: 2;

  width: 560px;
  padding: 79px 50px 60px 0;
}

.promo-slogan {
  margin: 0;
  margin-bottom: 19px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.47px;
}

.promo-text {
  margin: 0;
  margin-bottom: 43px;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.15px;
}

.promo-button {
  margin-bottom: 50px;
  margin-left: 1px;
  padding-left: 4px;
}

.tech-specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.tech-specs li {
  margin-right: 77px;
}

.tech-specs p {
  margin: 0;
}

.tech-specs p:first-child {
  margin-bottom: 7px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.36px;
}

.tech-specs p:last-child {
  margin-left: 1px;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.13px;
}

#promo-slider-1:checked ~ .promo-slider-buttons .promo-slider-button-1,
#promo-slider-2:checked ~ .promo-slider-buttons .promo-slider-button-2,
#promo-slider-3:checked ~ .promo-slider-buttons .promo-slider-button-3 {
  background-image: url(../img/slider-button.svg);
  cursor: pointer;
}

#promo-slider-1:checked ~ .promo-slider-list .promo-slider:nth-child(1),
#promo-slider-2:checked ~ .promo-slider-list .promo-slider:nth-child(2),
#promo-slider-3:checked ~ .promo-slider-list .promo-slider:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#promo-slider-1:focus ~ .promo-slider-buttons .promo-slider-button-1,
#promo-slider-2:focus ~ .promo-slider-buttons .promo-slider-button-2,
#promo-slider-3:focus ~ .promo-slider-buttons .promo-slider-button-3 {
  outline: 2px solid #5287ee;
}

.nav-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 82px;
  padding: 0;

  list-style: none;
}

.category-item {
  position: relative;

  width: 160px;
  margin-right: 40px;
}

.category-item:nth-child(6n) {
  margin-right: 0;
}

.category-item a::before {
  content: "";

  position: relative;

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: rgba(240, 197, 46, 0.5);
  background-repeat: no-repeat;
}

.category-item a::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 160px;
  height: 160px;

  background-repeat: no-repeat;
}

.category-item-vr a::after {
  background-image: url("../img/popular-1.svg");
  background-position: 31px 52px;
}

.category-item-monopod a::after {
  background-image: url("../img/popular-2.svg");
  background-position: 38px 41px;
}

.category-item-cam a::after {
  background-image: url("../img/popular-3.svg");
  background-position: 49px 38px;
}

.category-item-fitnes a::after {
  background-image: url("../img/popular-4.svg");
  background-position: 28px 50px;
}

.category-item-watch a::after {
  background-image: url("../img/popular-5.svg");
  background-position: 55px 32px;
}

.category-item-multicopter a::after {
  background-image: url("../img/popular-6.svg");
  background-position: 13px 49px;
}

.category-title {
  margin: 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.18px;
}

.category-item:hover a::before,
.category-item:focus a::before,
.category-item:active a::before {
  background-color: rgba(240, 197, 46, 1);
}

.category-item:active a::after {
  opacity: 0.3;
}

.services-sliders {
  position: relative;

  margin-bottom: 94px;
  padding-bottom: 69px;

  background: -o-linear-gradient(transparent 99px, #e5e5e5 99px);

  background: linear-gradient(transparent 99px, #e5e5e5 99px);
}

.services-sliders-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 318px;
}

.services-slider-buttons {
  width: 277px;
  padding: 78px 0 20px 0;

  -webkit-box-shadow: 7px 0 0 0 #000000;

          box-shadow: 7px 0 0 0 #000000;
}

.services-slider-buttons label {
  width: 160px;
  margin-bottom: 25px;

  cursor: pointer;
}

.services-slider-list{
  width: 760px;
  padding: 72px 0 20px 0;
}

.services-slider {
  display: none;
  padding-bottom: 40px;

  background-repeat: no-repeat;
  background-position: 558px 12px;
}

.services-slider:nth-child(1) {
  background-image: url(../img/icon-delivery.svg);
}

.services-slider:nth-child(2) {
  background-image: url(../img/icon-warranty.svg);
}

.services-slider:nth-child(3) {
  background-image: url(../img/icon-credit.svg);
}

.services-title {
  margin: 0;
  margin-left: 1px;
  margin-bottom: 31px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.9px;
}

.services-text {
  width: 450px;
  margin: 0;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.27px;
}

#services-slider-1:checked ~ .services-sliders-box .services-slider-button-1,
#services-slider-2:checked ~ .services-sliders-box .services-slider-button-2,
#services-slider-3:checked ~ .services-sliders-box .services-slider-button-3 {
  width: 277px;

  color: #f7e184;

  background: #000000;
  border-right: 115px solid #000000;
  cursor: auto;
}

#services-slider-1:checked ~ .services-sliders-box .services-slider:nth-child(1),
#services-slider-2:checked ~ .services-sliders-box .services-slider:nth-child(2),
#services-slider-3:checked ~ .services-sliders-box .services-slider:nth-child(3) {
  display: block;
}

#services-slider-1:focus ~ .services-sliders-box .services-slider-button-1,
#services-slider-2:focus ~ .services-sliders-box .services-slider-button-2,
#services-slider-3:focus ~ .services-sliders-box .services-slider-button-3 {
  outline: 2px solid #5287ee;
}

.popular-producer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  margin: 0;
  margin-bottom: 93px;
  padding: 0;

  list-style: none;
}

.popular-producer li {
  width: 260px;
  margin-right: 40px;
}

.popular-producer li:nth-child(4n) {
  margin-right: 0;
}

.popular-producer a {
  position: relative;

  display: block;
  width: 260px;
  height: 100px;
}

.popular-producer a::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 260px;
  height: 100px;

  background-repeat: no-repeat;
  opacity: 0;
}

.popular-producer a[href*=dji]::after {
  background-image: url(../img/logo-1.jpg);
}

.popular-producer a[href*=sp-gadgets]::after {
  background-image: url(../img/logo-2.jpg);
}

.popular-producer a[href*=gopro]::after {
  background-image: url(../img/logo-3.jpg);
}

.popular-producer a[href*=vive]::after {
  background-image: url(../img/logo-4.jpg);
}

.popular-producer a:hover::after,
.popular-producer a:focus::after {
  opacity: 1;
}

.about-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 52px;
  padding-bottom: 82px;
}

.company-box {
  position: relative;

  width: 475px;
}

.map-box {
  position: relative;

  width: 562px;
}

.company-box::before,
.map-box::before {
  content: "";

  position: absolute;
  top: -52px;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.map-box::before {
  left: 2px;
}

.about-company-title {
  margin: 0;
  margin-bottom: 43px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 46px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 1px;
}

.about-company-text {
  margin: 0;
  margin-bottom: 39px;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.company-box .about-company-text:nth-of-type(1) {
  margin-bottom: 30px;
}

.company-box .about-company-text:nth-of-type(2) {
  margin-bottom: 66px;
}

.about-company-list {
  margin: 0;
  padding: 0 0 54px 28px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;

  list-style: none;
}

.about-company-list li::before {
  content: "";

  position: relative;
  top: -1px;
  left: -27px;

  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.company-box .button-yellow {
  width: 260px;
}

.map-box .button-yellow {
  width: 260px;
  margin-left: 2px;
}

.map-small {
  display: block;
  margin-left: 2px;
  padding-bottom: 60px;
}

.page-catalog-title {
  margin: 37px 0 20px 59px;
  padding: 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.7px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 44px 59px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 38px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";

  position: absolute;
  top: 13px;
  right: -20px;

  width: 4px;
  height: 7px;

  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.13px;
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a[href]:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-box {
  overflow-x: hidden;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.catalog-left {
  position: relative;

  background-color: #ebebeb;
}

.catalog-left::before {
  content: "";

  position: absolute;
  top: 0;
  right: 100%;

  width: 100vw;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.08);
}

.catalog-right {
  width: 832px;
}

.catalog-left form {
  padding: 81px 68px 20px 59px;
}

.filters-title {
  margin: 0;
  padding: 23px 20px 23px 61px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.price-slider,
.filter-checkbox,
.filter-radio {
  margin: 0;
  padding: 0;
  padding-top: 10px;

  border: none;
  border-top: none;
}

.price-slider {
  margin-bottom: 44px;
}

.filter-title {
  position: relative;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.18px;
}

.filter-title::before {
  content: "";

  position: absolute;
  top: -12px;
  left: 0px;

  width: 201px;
  height: 2px;

  background-color: #000000;
}

.range-filter {
  position: relative;

  padding: 25px 0 35px 0;
}

.scale {
  width: 201px;
  height: 2px;

  background-color: #dbdbdb;
}

.bar {
  width: 110px;
  height: 2px;

  background-color: #91c92f;
}

.toggle {
  position: absolute;
  top: 15px;
  left: -5px;
}

.toggle-max {
  left: 91px;
}

.toggle button {
  display: block;
  width: 20px;
  height: 22px;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  background-image: url(../img/filter-button.svg);
  border: none;
  cursor: pointer;
}

.toggle-max button {
  margin-left: 17px;
}

.toggle p {
  display: block;
  margin: 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.toggle-min p {
  margin-left: 6px;
}

.filter-checkbox {
  margin-bottom: 43px;
}

.filter-checkbox legend,
.filter-radio legend {
  margin-bottom: 8px;
}

.filter-checkbox ul,
.filter-radio ul {
  margin: 0;
  padding-left: 39px;

  list-style: none;
}

.filter-checkbox label,
.filter-radio label {
  position: relative;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.14px;
}

.filter-checkbox label:hover,
.filter-radio label:hover {
  cursor: pointer;
}

.filter-checkbox-input:focus + label,
.filter-radio-input:focus + label {
  -webkit-box-shadow: 0 0 3px 2px #5287ee;
          box-shadow: 0 0 3px 2px #5287ee;
}

.filter-checkbox label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-checkbox-input:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
}

.filter-checkbox label:hover::before,
.filter-checkbox label:focus::before {
  opacity: 0.6;
}

.filter-checkbox label:active::before {
  opacity: 1;
}

.filter-radio {
  margin-bottom: 31px;
}

.filter-radio label::before {
  content: "";

  position: absolute;
  top: -4px;
  left: -40px;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}

.filter-radio-input:checked + label::before {
  background-image: url(../img/radio-on.svg);
}

.filter-radio label:hover::before,
.filter-radio label:focus::before {
  opacity: 0.6;
}

.filter-radio label:active::before {
  opacity: 1;
}

.filter-checkbox-input:disabled + label,
.filter-radio-input:disabled + label {
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0.25;
  cursor: auto;
}

.filter-checkbox-input:disabled + label::before,
.filter-radio-input:disabled + label::before {
  opacity: 0.25;
}

.form-button {
  width: 200px;
}

.sort-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 73px;

  background-color: rgba(0,0,0,.08);
}

.sort-list::before {
  content: "";

  position: absolute;
  top: 0;
  right: 100%;

  width: 100vw;
  height: 100%;

  background-color: rgba(0,0,0,.08);
}

.sort-list::after {
  content: "";

  position: absolute;
  top: 0;
  left: 100%;

  width: 100vw;
  height: 100%;

  background-color: rgba(0,0,0,.08);
}

.sort-title {
  margin: 0;
  margin-right: 51px;
  padding: 23px 0px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.sort-list-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 287px;
  margin: 0;
  margin-right: auto;
  padding: 0;

  line-height: 18px;

  list-style: none;
}

.sort-list-1 a {
  display: block;
  padding: 25px 0 27px 0;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.sort-list-1 a:hover,
.sort-list-1 a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list-1 a:active {
  color: rgba(0, 0, 0, 1);
}

.sort-list-1 .selected {
  color: rgba(0, 0, 0, 1);
}

.sort-list-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-list-2-high,
.sort-list-2-low {
  display: block;

  width: 21px;
  height: 20px;
  margin: 25px 0;

  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  background-position: 1px 5px;
  opacity: 0.2;
}

.sort-list-2-low {
  background-position: left 5px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sort-list-2-high:hover,
.sort-list-2-high:focus,
.sort-list-2-low:hover,
.sort-list-2-low:focus {
  opacity: 0.4;
}

.sort-list-2-high:active,
.sort-list-2-low:active {
  opacity: 1;
}

.sort-list-2-high.selected,
.sort-list-2-low.selected {
  opacity: 1;
}

.catalog-list-box {
  padding: 69px 0 77px 72px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 760px;
  margin: 0;
  margin-bottom: -11px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 360px;
  margin-bottom: 46px;
}

.catalog-item:nth-child(2n+1) {
  margin-right: 40px;
}

.catalog-item img {
  margin-bottom: 32px;
}

.item-title {
  margin: 0;
  width: 260px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.18px;
}

.item-price {
  margin: 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.16px;
}

.item-actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;

  padding: 170px 0 120px 0;
}

.item-buy {
  width: 200px;
  margin-bottom: 15px;
}

.item-bookmark {
  width: 200px;
  margin: 0 auto;
  padding: 0;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.13px;

  background: transparent;
  border: none;
}

.item-bookmark:hover,
.item-bookmark:focus {
  color: rgba(0, 0, 0, 1);

  cursor: pointer;
}

.item-bookmark:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item:hover .item-actions,
.catalog-item:focus .item-actions {
  z-index: 1;

  opacity: 1;
  cursor: pointer;
}

.catalog-item:focus-within .item-actions {
  z-index: 1;

  opacity: 1;
}

.catalog-item:hover img,
.catalog-item:focus img {
  opacity: 0.7;
}

.flag {
  position: absolute;
  top: 27px;
  right: 25px;

  width: 64px;
  height: 64px;
  padding: 20px 0 24px 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 0.25px;

  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.pagination-list {
  margin: 0;
  padding: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 760px;

  background: rgba(0, 0, 0, 0.08);
  list-style: none;
}

.pagination-item {
  display: block;
  padding: 24px 0 22px 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.pagination-item:not(.pagination-item-previous):not(.pagination-item-next) {
  width: 20px;
  padding: 25px 0 21px 0;
}

.pagination-list li:nth-child(2) {
  margin-right: 20px;
}

.pagination-list li:nth-child(3) {
  margin-right: 18px;
}

.pagination-item[href]:hover,
.pagination-item[href]:focus {
  color: rgba(0, 0, 0, 0.6);

  cursor: pointer;
}

.pagination-item[href]:active{
  color: rgba(0, 0, 0, 1);
}

.pagination-item-current {
  color: rgba(0, 0, 0, 1);
}

.pagination-item-previous,
.pagination-item-next {
  width: 130px;

  color: rgba(0, 0, 0, 1);
}

.pagination-list .pagination-item-previous[href]:hover,
.pagination-list .pagination-item-previous[href]:focus,
.pagination-list .pagination-item-next[href]:hover,
.pagination-list .pagination-item-next[href]:focus {
  color: rgba(0, 0, 0, 1);

  background: rgba(0, 0, 0, 0.08);
}

.pagination-list .pagination-item-previous[href]:active,
.pagination-list .pagination-item-next[href]:active {
  color: rgba(0, 0, 0, 0.3);

  background: rgba(0, 0, 0, 0.08);
}

.pagination-list li:first-child {
  margin-right: auto;
  margin-left: 0;
}

.pagination-list li:last-child {
  margin-left: 0;
  margin-left: auto;
}

.main-footer{
  padding: 63px 0 67px 0;

  background-color: #464646;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 21px;
}

.footer-logo {
  margin-top: 2px;
  margin-right: auto;
}

.footer-logo[href]:hover,
.footer-logo[href]:focus {
  opacity: 0.6;
}

.footer-logo[href]:active {
  opacity: 0.3;
}

.footer-user-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 280px;
  margin: 0;
  margin-right: 44px;
  padding: 0;

  list-style: none;
}

.footer-link-login,
.footer-link-profile,
.footer-link-logout,
.footer-link-compare,
.footer-link-basket {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.15px;
}

.footer-link-logout {
  color: rgba(255, 255, 255, 1);
}

.footer-link-profile {
  margin-right: 19px;
}

.footer-link-compare {
  margin-right: 41px;
}

.footer-top p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.footer-link-login p {
  margin-left: 9px;
}

.footer-link-profile p {
  margin-left: 9px;
}

.footer-link-compare p {
  margin-left: 5px;
}

.footer-link-basket p {
  margin-left: 6px;
}

.footer-link-login:hover,
.footer-link-login:focus,
.footer-link-profile:hover,
.footer-link-profile:focus,
.footer-link-compare:hover,
.footer-link-compare:focus,
.footer-link-basket:hover,
.footer-link-basket:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-link-login:hover path,
.footer-link-login:focus path,
.footer-link-profile:hover path,
.footer-link-profile:focus path,
.footer-link-compare:hover path,
.footer-link-compare:focus path,
.footer-link-basket:hover path,
.footer-link-basket:focus path {
  opacity: 0.6;
}

.footer-link-login:active path,
.footer-link-profile:active path,
.footer-link-compare:active path,
.footer-link-basket:active path {
  opacity: 0.3;
}

.footer-link-login:active,
.footer-link-profile:active,
.footer-link-compare:active,
.footer-link-basket:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-link-logout:hover,
.footer-link-logout:focus {
  color: rgba(255, 255, 255, 0.7);
}

.footer-link-logout:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 62px;
}

.footer-adress {
  margin: 0;
  margin-right: 164px;
}

.footer-adress,
.footer-tel {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}

.footer-link-delivery,
.footer-link-warranty,
.footer-link-contacts {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-link-delivery {
  margin-right: 34px;
}

.footer-link-warranty {
  margin-right: 32px;
}

.footer-link-contacts {
  margin-right: auto;
}

.footer-link-delivery:hover,
.footer-link-delivery:focus,
.footer-link-warranty:hover,
.footer-link-warranty:focus,
.footer-link-contacts:hover,
.footer-link-contacts:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-delivery:active,
.footer-link-warranty:active,
.footer-link-contacts:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-bottom {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
}

.footer-bottom::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 20px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

  margin: 2px 0 0 auto;
  padding: 0;
  padding-left: 47px;

  list-style: none;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 22px;

  font-size: 0;

  background-repeat: no-repeat;
  opacity: 0.3;
}

.facebook-button {
  margin-right: 23px;
  background-image: url(../img/icon-fb.svg);
}

.instagram-button {
  background-image: url(../img/icon-instagram.svg);
}

.twitter-button {
  background-image: url(../img/icon-twitter.svg);
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.link-html-academy {
  display: block;
  width: 27px;
  height: 34px;
  margin-left: auto;

  font-size: 0;

  background-image: url(../img/logo-html.svg);
  background-repeat: no-repeat;
}

.link-html-academy:hover,
.link-html-academy:focus {
  opacity: 0.6;
}

.link-html-academy:active {
  opacity: 0.3;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;

  display: none;
  margin: 0 auto;

  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 20px 0 #040606;
          box-shadow: 0 10px 20px 0 #040606;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-show {
  display: block;

  -webkit-animation-name: bounce;

          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal-wrire-us {
  width: 960px;
  height: 553px;
  padding: 93px 100px 60px 100px;
}

.modal-wrire-us form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-input,
.modal-description {
  margin: 0;
  margin-bottom: 33px;
}

.modal-input {
  width: 360px;
}

.modal-input:first-child {
  margin-right: 40px;
}

.modal-input label,
.modal-description label {
  display: block;
  margin-bottom: 7px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.modal-input-value,
.modal-description textarea {
  width: 100%;
  padding: 15px 21px 17px 21px;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: rgba(70, 70, 70, 0.4);
  letter-spacing: 0.25px;

  background-color: #f2f2f2;
  border: none;
  resize: none;
}

.modal-input-invalid {
  color: rgba(70, 70, 70, 0.4);

  background-color: rgba(237, 181, 181, 0.5);
}

.modal-input input:hover,
.modal-description textarea:hover {
  background-color: #ebebeb;
}

.modal-input input:focus,
.modal-description textarea:focus {
  color: rgba(70, 70, 70, 1);

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 3px #f0c52e inset;
          box-shadow: 0 0 0 3px #f0c52e inset;
}

.modal-description {
  width: 760px;
}

.modal-description textarea {
  height: 156px;
}

.modal-button {
  width: 200px;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: transparent;
  background-image: url(../img/modal-close.svg);
  background-repeat: no-repeat;
  border: none;
  opacity: 0.5;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-map {
  width: 960px;
  height: 559px;
}

.modal-map iframe {
  position: absolute;
  top: 0;
  left: 0;

  border: none;
}
